APP_NAME=Express
APP_URL=http://localhost
APP_PORT=3000
ENVIRONMENT=local
MONGODB_URI=mongodb://localhost:27017/express
MONGODB_DB=express
SEED_ADMIN_EMAIL=admin@express.com
SEED_ADMIN_PASS=admin
JWT_SECRET=secret